.container {
	width: 100px;
	margin-top: 10%;
	font-size: 12px;
	box-shadow: 0 3px 20px rgba(0,0,0,0.3);
	padding: 30px;
	padding-top: 1px;
	margin-top: 20px;
}

.btn {
	width: 45%;
	margin-left: 5px;
}